<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Coronavirus Tracker application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
  <div class="container">
  	<h1>Coronavirus Tracker application</h1>
  	<p></p>
  	
  	<div class="jumbotron">
	  <h1 class="display-4" th:text="${totalReportedCases}"></h1>
	  <p class="lead">Total cases reported as of today</p>
	  <hr class="my-4">
	
	  <!-- <p>
		  <span>New cases reported since previous day</span>
		  <span th:text="${totalNewCases}"></span>
	  </p> -->
	</div>
  	
    <p th:text="${testname}"></p>
    
    
	    <table class="table">
	      <tr>
	        <th>State</th>
	        <th>Country</th>
	        <th>Confirmed cases Today</th>
	        <th>Deaths Reported Today</th>
	      </tr>
	      <tr th:each="locationStats : ${locationStats}">
	        <td th:text="${locationStats.state}"></td>
	        <td th:text="${locationStats.country}"></td>
	         <td th:text="${locationStats.confirmedcases}">0</td>
	         <td th:text="${locationStats.deathsReported}">0</td>
	        <!-- <td th:text="${locationStats.latestTotalCases}">0</td>
	        <td th:text="${locationStats.diffFromPrevDay}">0</td> -->
	        
	      </tr>
	    </table>
  	</div>
  	
  </body>

</html>
